<ion-view>
  <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
      </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<div class="list">
  <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Enter your email">
  </label>
  <br>
  <button class="button button-block button-royal" ng-click="">
  Submit
</button>
<br>
<h2>Currently this page is not functioning because email is not working</h2>
</div>
</div>
</button>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
  <div class="title"> © 2016 Reverside.co.za</div>
</div>
</ion-view>