<ion-view>
<div class="bar bar-header bar-calm">

  <h1 class="title">Welcome To Zero Solution</h1>
  <button fab class="button icon-left ion-close button-assertive" ng-click="logout()">
    Logout
  </button>
</div>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/home">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" href="#/profile">
        <i class="icon ion-person"></i>
        View Profile
      </a>
    </div>
    </div>
	<ion-content>
		
	</ion-content>
  <div class="zero">0</div>
	<div class="bar bar-footer bar-balanced">
  <div class="title"> © 2016 Reverside.co.za</div>
</div>
</ion-view>